/*Body Style*/
*{
    background-color: rgb(177, 217, 250);
}
/*Options Style*/
.options{
    list-style-type:none;
    justify-content:center;
    padding:0px;
}
.options li{
    width:130px;
    border-right:2px solid gray;
    color: navy;
}

/*Category Name and Heading Name Style*/
.CategoryName::first-letter{
    text-transform:uppercase;
}
.CategoryName,.heading h2{
    color:navy;
}
/*Error Message Style*/
.error-message{
    color:red;
}
/*Submit Button Style*/
 @media screen and (max-width: 425px) {
    .submitButton{
        padding:2px;
    }
  }
  /*Card Item*/
  .CardItem{
      border:2px solid grey !important;
  }
